@media (max-width: 1600px) {
  .Home_header {
    left: 221.5px;
  }
  .wrap {
    .travel_body {
      left: 221.5px;
    }
  }
}
@media (max-width: 1440px) {
  .Home_header {
    left: 141.5px;
  }
  .wrap {
    .travel_body {
      left: 141.5px;
    }
  }
}

@media (max-width: 1366px) {
  .Home_header {
    left: 104.5px;
  }
  .wrap {
    .travel_body {
      left: 104.5px;
    }
  }
}

@media (max-width: 1280px) {
  .Home_header {
    left: 61.5px;
  }
  .wrap {
    .travel_body {
      left: 61.5px;
    }
  }
}

@media (max-width: 1200px) {
  .Home_header {
    left: 21.5px;
  }
  .wrap {
    .travel_body {
      left: 21.5px;
    }
  }
}

@media (max-width: 1024px) {
  .Home_header {
    left: 23.5px;
  }
  .wrap {
    .travel_body {
      left: 23.5px;
    }
  }
}
@media (max-width: 1000px) {
  .Home_header {
    left: 11.5px;
  }
  .wrap {
    .travel_body {
      left: 11.5px;
    }
  }
}

@media (max-width: 768px) {
  .travel_img {
    img {
      max-width: 100%;
      height: 100%;
    }
  }
}
