.travel_img {
  position: fixed;
  img {
    width: 100%;
    height: 650px;
  }
}

.travel_title {
  font-size: 65px;
  color: $white;
  position: absolute;
  top: 240px;
  left: 37%;
  span {
    font-weight: 700;
    text-shadow: $gray 0.1em 0.1em 0.2em;
  }
}
.travel_body {
  position: absolute;
  left: 18%;
  top: 600px;
  z-index: 10;
  background: $white;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0;
  .travel_ask {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .travel_row {
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px 0;
    .travel_txt {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0 0 0 100px;
      .travel_aside {
        font-size: 28px;
        color: $gray;
        text-align: center;
      }
      .travel_line {
        margin-top: 30px;
        width: 35px;
        height: 3px;
        background: rgba(255, 183, 48, 1);
      }
      .address {
        width: 100px;
        padding-top: 50px;
      }
    }
    .travel_input {
      display: flex;
      flex-direction: column;
      input {
        padding: 5px 10px;
        margin-top: 10px;
      }
      .submit {
        color: $green;
        text-decoration: none;
        transition: 0.8s;
        font-size: 15px;
        padding-top: 35px;
        &:hover {
          color: $gray;
        }
      }
      .message {
        height: 150px;
      }
      a {
      }
    }
  }
  .bot_img {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      padding: 0 150px;
      width: 100%;
    }
  }
}
