@import "./sass/variable";
@import "./sass/extend";
@import "./sass/header";
@import "./sass/home";
@import "./sass/footer";
@import "./sass/travel";
@import "./sass/contact_text";
@import "./sass/apartment";
@import "./sass/RWD";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: 0;
  list-style: none;
}
body {
  background: $bg;
}
