@import "./sass/variable";
@import "./sass/extend";
@import "./sass/header";
@import "./sass/home";
@import "./sass/footer";
@import "./sass/Contact";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: 0;
  list-style: none;
  position: relative;
}
body {
  background: $bg;
}
